body {
    font-family: Arial, Heveltica, sans-serif;
    margin: 0;
    margin-bottom:1 rem;
    text-align: center;
    background-color: rgb(23, 30, 36);
}

nav {
  background:rgb(12, 15, 18);   
  padding: 1rem;
  position: sticky;
  top: 0px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;       
  gap: 1.5rem;
}

a {
  color: white;        
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.2s;
}

nav a {
  color: white;        
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.2s;
}

.image {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.image-index {
    height: 500px;
}

.liens {
    color: rgb(255, 255, 255);           
    text-decoration: none; 
    display: flex;
    justify-content: left;
}

.liens:hover {
    color:  rgb(177, 188, 201);            
}

.liens:visited {
    color: rgb(255, 255, 255);           
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.titre-album-qlf {
    color: rgb(199, 69, 112);
}

.titre-album-lmc {
    color: rgb(210, 9, 76);
}

.titre-album-dll {
    color: rgb(212, 146, 89);
}

.titre-album-df {
    color: rgb(30, 114, 187);
}

.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; 
    max-width: 100%; 
    padding: 40px 20px;
    margin: 0 auto;
}

@media screen and (min-width:576px) {
    .gallery {
        width:500px;
    }
}

@media screen and (min-width:768px) {
    .gallery {
        width:700px;
    }
}

@media screen and (min-width:992px) {
    .gallery {
        width:900px;
    }
}

@media screen and (min-width:1200px) {
    .gallery {
        width:1100px;
    }
}

@media screen and (min-width:1400px) {
    .gallery {
        width:1300px;
    }
}

.card {
    background: rgb(223, 223, 223);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    width: 200px;  
    height: 250px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.07); 
  box-shadow: 0 6px 16px rgba(0,0,0,0.15); 
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.box {
    display: flex;
    justify-content: center;
}

.card-index {
    background: rgb(223, 223, 223);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease; 
    width: 500px;  
    height: 500px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-index img {
    width: 95%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.card-index:hover {
  transform: scale(1.02); 
  box-shadow: 0 6px 16px rgba(0,0,0,0.15); 
}

.playlist-container {
    display: flex;
    gap: 2rem;
    max-width: 800px;
    padding: 50px 20px ;
    margin: 0 auto;
    align-items: flex-start;
}

.album-titre-display-qlf {
    padding: .25rem .5rem;
    text-decoration: none;
    transition: all 250ms;
    background-color: var(--primary) !important;
    color: rgb(199, 69, 112);
}

.album-track-list-qlf {
    background-color: var(--primary) !important;
    list-style: none;     
    padding: 0;
    color: rgb(199, 69, 112);
    margin: 0;
    flex: 1;
}

.album-track-list-qlf li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    cursor: pointer; 
    color: rgb(199, 69, 112);       
    transition: color 0.3s; 
}

.album-track-list-qlf li:hover {
    color: rgb(114, 28, 57);
    transform: translateY(-2px);
}

.album-titre-display-lemondechico {
    padding: .25rem .5rem;
    text-decoration: none;
    transition: all 250ms;
    background-color: var(--primary) !important;
    color: rgb(210, 9, 76);
}

.album-track-list-lemondechico {
    background-color: var(--primary) !important;
    list-style: none;     
    padding: 0;
    color: rgb(210, 9, 76);
}

.album-track-list-lemondechico li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    cursor: pointer; 
    color: rgb(210, 9, 76);       
    transition: color 0.3s; 
}

.album-track-list-lemondechico li:hover {
    color: rgb(94, 5, 35);
    transform: translateY(-2px);
}

.album-titre-display-danslalegende {
    padding: .25rem .5rem;
    text-decoration: none;
    transition: all 250ms;
    background-color: var(--primary) !important;
    color: rgb(212, 146, 89);
}

.album-track-list-danslalegende {
    background-color: var(--primary) !important;
    list-style: none;     
    padding: 0;
    color: rgb(212, 146, 89);
}

.album-track-list-danslalegende li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    cursor: pointer; 
    color: rgb(212, 146, 89);       
    transition: color 0.3s; 
}

.album-track-list-danslalegende li:hover {
    color: rgb(165, 87, 19);
    transform: translateY(-2px);
}

.album-titre-display-deuxfreres {
    padding: .25rem .5rem;
    text-decoration: none;
    transition: all 250ms;
    background-color: var(--primary) !important;
    color: rgb(30, 114, 187);
}

.album-track-list-deuxfreres {
    background-color: var(--primary) !important;
    list-style: none;     
    padding: 0;
    color: rgb(30, 114, 187);
}

.album-track-list-deuxfreres li {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  cursor: pointer;       
  color: rgb(30, 114, 187);       
  transition: color 0.3s; 
}

.album-track-list-deuxfreres li:hover {
  color: rgb(17, 65, 107);   
  transform: translateY(-2px);    
}

.playlist-container {
  display: flex;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  align-items: flex-start;
}


.playlist-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;   /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
  .playlist-container {
    flex-direction: column;
    align-items: center;
  }

  .playlist-image img {
    margin-bottom: 1rem;
  }
}

.playlist-card {
    display: flex;
    gap: 1.5rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 1rem;
    width: 320px;
    min-height: 200px;
    align-items: flex-start;
    transition: transform 0.2s ease;
}

.playlist-card:hover {
  transform: translateY(-5px);
}


.contact {
    color: rgb(0, 0, 0);
}

.form-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 2rem;
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.my-form input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #00a6ff;
}

.my-form textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #00a6ff;
}


.my-form button {
    background: #ffffff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #00a6ff;
}

.my-form button:hover {
    background: #28438b;
}

footer {
    background-color: rgb(12, 15, 18);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-links a {
    color: white;
    font-size: 24px;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: #0077b5; 
    transform: scale(1.2);
}

.social-links a:first-child:hover {
    color: #6e5494; 
}

.separateur {
  width: 50px;
  border: 0;
  border-top: 1px solid #5a5a5a;
  margin: 15px auto;
}